body {
  background-color: #0e0e0e;
}

.img-container {
  background: linear-gradient(
      to right,
      black 0%,
      black 10%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("../../assets/natalnaya/4.webp") no-repeat center center;
  background-size: cover;
  background-attachment: fixed; /* Use background-attachment instead of background-position */
  width: 100%;
  height: 100%;
  padding: 150px 120px 120px 150px;
  margin: 0;
}
.head-texts {
  text-transform: uppercase;
}
.head-texts h1 {
  font-size: 4em;
  font-weight: 800;
}
.head-texts h2 {
  font-size: 2.5em;
  font-weight: 800;
}
.head {
  height: 100vh;
}
.container {
  max-width: 1248px;
  margin: auto;
}
select option {
  background: rgba(0, 0, 0, 0.8); /* Transparent black background */
  color: white;
}

select:focus {
  box-shadow: none;
}

select::-webkit-scrollbar {
  display: none; /* Remove scroll bar */
}

select {
  overflow-y: auto;
  scrollbar-width: none; /* For Firefox */
}

select:hover {
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(8px); /* Apply blur effect */
}
.first-section {
  width: 100%;
  height: 100%;
  padding: 48px;
}
.block {
  margin: auto;
  padding: 48px 16px 16px 48px;
  text-align: center;
  gap: 24px;
}
.block-items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px auto;
}
.block-items span {
  margin: 8px;
  padding: 8px;
  margin-left: 16px;
  margin-top: 64px;
}

@media only screen and (max-width: 768px) {
  .head-texts h1 {
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 16px;
  }
  .head-texts h2 {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 16px;
  }
  .head-texts p {
    font-size: 0.8em;
    font-weight: 600;
    margin-bottom: 16px;
  }
  .head-texts h4 {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 32px;
  }
  .head-texts {
    margin: auto;
  }
  .text-area-fist h4 {
    font-size: 18px;
    font-weight: 500;
  }
  .doma {
    padding: 10px;
    margin: 10px;
  }
  .head {
    height: 90vh;
  }
  h2 {
    font-size: 1.4em;
  }
  .img-container {
    background: linear-gradient(
        to right,
        black,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5),
        black
      ),
      url(../../assets/matritsa/head.webp) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    padding: 128px 16px 16px 16px;
    text-align: center;
    margin: 0;
  }
  .block,
  .first-section {
    padding: 16px;
  }
  .block-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 8px auto;
  }
  .block-items span {
    border-left: 1px solid #ffff;
    margin: 8px;
    padding: 8px;
    margin-left: 8px;
  }
}
.text-area-fist {
  margin: 96px auto;
  text-align: center;
}
.text-area {
  flex: 1;
  padding: 20px;
}

.text-area h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.text-area p {
  font-size: 1.4em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.green-btn {
  display: inline-block;
  padding: 10px 20px;
  background: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background 0.3s ease;
}

.green-btn:hover {
  background: #45a049;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.simple-card-container {
  display: flex;
  padding: 48px;
  gap: 16px;
}
.simple-card {
  display: flex;
  padding: 16px;
  border: 1px solid #fff;
  border-radius: 4px;
}
.simple-container h2 {
  text-align: center;
}
.custom {
  align-self: flex-end;
}
.review-card {
  background-color: #3b3b3b;
  border: none;
  margin-bottom: 48px;
}

.reviewer-name,
.review-text {
  color: #f3f1f1;
}
.poproybuyte-besplatnuyu-konsultatsiyu {
  background: linear-gradient(
      to right,
      black,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      black
    ),
    url(../../assets/matritsa/section4.webp) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 5%;
}

@media (max-width: 768px) {
  .section2-card,
  .simple-card-container,
  .simple-card {
    flex-direction: column;
  }
  .faq {
    padding: 16px;
  }
  .card {
    width: 100%; /* Cards will stack vertically */
    flex-direction: column;
    align-items: center;
  }
  .plan-card-container {
    display: flex;
    flex-wrap: wrap;
  }
  .text-area {
    text-align: center;
  }

  .image-container {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .text-area h2 {
    font-size: 20px;
  }

  .text-area p {
    font-size: 14px;
  }

  .green-btn {
    font-size: 14px;
    padding: 8px 16px;
  }
}

.faq {
  background-color: black;
  color: #ffff;
  padding-top: 48px;
}
.accordion {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 96px 0;
}
.link {
  text-align: center;
  align-items: center;
  color: #ffff;
}
.accordion-item {
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #000000;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.accordion-content {
  display: none; /* Hidden by default */
  padding: 16px;
}
/* Accordion header */
.accordion-header {
  width: 100%;
  padding: 15px;
  background-color: #3b3b3b;
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  color: #f8f8f8;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
}
.doma {
  background: linear-gradient(
      to bottom,
      black 0%,
      black 10%,
      rgba(0, 0, 0, 0.6) 60%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("../../assets/natalnaya/123.webp") no-repeat center center;
  background-size: cover;
  background-attachment: fixed; /* Use background-attachment instead of background-position */
  width: 100%;
  height: 100%;
  padding: 150px 120px 120px 150px;
  margin: 96px 0;
}

.text-area ul {
  text-align: start;
  margin: 96px auto;
  font-size: 36px;
}
.text-area ul > li {
  margin: 24px auto;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-content: center;
  gap: 16px; /* Space between grid items */
  max-width: 800px;
  margin: 0 auto;
}

.grid-container img {
  width: 240px;
  height: 240px;
  padding: 16px;
  object-fit: cover;
}
.text-area {
  text-align: center;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding: 16px;
  }
  .text-area {
    margin: 8px 0;
  }
  .doma {
    padding: 8px;
  }
  .grid-container img {
    width: 180px;
    height: 180px;
    padding: 8px;
    object-fit: cover;
  }
  .text-area ul {
    text-align: start;
    margin: 32px auto;
    font-size: 24px;
  }
  .text-area ul > li {
    margin: 8px auto;
  }
  .card img {
    width: 100px;
    object-fit: cover;
    border-radius: 8px;
  }
}
.card {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 96px auto;
}

.card img {
  width: 550px;
  object-fit: cover;
  border-radius: 8px;
}

.card-content {
  flex: 1;
  padding: 48px;
}

.card-content h2 {
  margin: 0 0 8px;
  font-size: 2.5rem;
  color: #333;
}

.card-content h3 {
  margin: 0 0 8px;
  font-size: 1.8rem;
  color: #555;
}

.card-content p {
  margin: 0;
  font-size: 1.4rem;
  color: #666;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    text-align: center;
  }
  .card-content {
    flex: 1;
    padding: 8px;
  }
  .card-content h2 {
    margin: 0 0 8px;
    font-size: 1.8rem;
    color: #333;
  }

  .card-content h3 {
    margin: 0 0 8px;
    font-size: 1.3rem;
    color: #555;
  }

  .card-content p {
    margin: 0;
    font-size: 1.1rem;
    color: #666;
  }
  .card img {
    width: 100%;
    height: auto;
  }
}
.steps {
  margin: 96px 0;
}
.container-content {
  padding: 16px;
  margin: 0 auto;
  margin: 96px 0;
}

.steps-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 32px;
}

.step-card {
  position: relative;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  font-size: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.step-card.steps-left .step-number {
  width: 64px;
  height: 64px;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.step-number {
  border: 2px dashed white;
  margin: 16px;
}
.step-card.steps-right .step-number {
  width: 64px;
  height: 64px;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

@media (max-width: 768px) {
  .steps-wrapper {
    grid-template-columns: 1fr;
  }

  .step-card.steps-right .step-number {
    right: auto;
  }
}
